.Synonyms {
  margin: 8px 0 15px 0;
  padding: 0;
}


.Synonyms li {
  font-size: 17px;
  display: inline-block;
  padding-right: 10px;
  line-height: 1;
  margin-bottom: 15px;
  color: #245D78;
  font-weight: bold;
}
